absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.1
h5py==3.12.1
keras==3.7.0
libclang==18.1.1
Markdown==3.7
matplotlib==3.9.2
ml-dtypes==0.4.1
numpy
opencv-python==4.10.0
protobuf==5.29.1
scikeras==0.13.0
tensorboard==2.18.0
tensorflow-cpu==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
zstandard==0.23.0
